header {
  width: 100vw;
  background: url(../images/bg.jpg) 50% 50% no-repeat;
  height: 23.438vw;
  background-size: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .text-page-flex-wrapper {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container.container-back__content {
  width: 37vw;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

header .h1.h1-watch {
  font-size: 1.875vw;
  font-weight: 400;
  line-height: 2.188vw;
  letter-spacing: 0;
  color: #000000;
  text-align: left;
  margin-bottom: 2.083vw;
}

header .container.container-back__content.container-back_breadcrumbs {
  margin-top: 5vw;
  margin-left: 12.5vw;
}

header .text-page-content.text-page-content_fix {
  font-size: 1.250vw;
  font-weight: 400;
  line-height: 1.458vw;
  letter-spacing: 0;
  color: #000000;
  max-width: 100vw;
  margin-bottom: 3.683vw;
}

header .watch-header_decorative-button {
  font-size: 1.563vw;
  font-weight: 700;
  line-height: 1.823vw;
  letter-spacing: 0;
  color: #FFFFFF;
  background-color: #E4097F;
  border: 0.052vw solid #E4097F;
  padding: 0.625vw 2.240vw;
  border-radius: 1.563vw;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

header .watch-header_decorative-button:hover {
  background-color: #FFFFFF;
  color: #E4097F;
}

header .right-wrapper {
  width: 37.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .right-wrapper .city {
  font-size: 1.563vw;
  font-weight: 400;
  line-height: 1.823vw;
  letter-spacing: 0;
  color: #000000;
  text-align: right;
  margin-bottom: 1.510vw;
}

header .right-wrapper .watch-time {
  font-size: 1.302vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.510vw;
  letter-spacing: 0;
  text-align: right;
  margin-bottom: 1.094vw;
}

header .right-wrapper .phone-number_watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.938vw;
}

header .right-wrapper .phone-number_watch img {
  width: 2.448vw;
  height: 2.448vw;
}

header .right-wrapper .phone-number_watch a {
  font-size: 1.302vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.510vw;
  letter-spacing: 0;
  text-align: right;
  color: #E4097F;
}

header .right-wrapper .watch-social .watch-social_link {
  margin-right: 0.796vw;
}

header .right-wrapper .watch-social .watch-social_link img {
  width: 3.021vw;
  height: 3.021vw;
}

header .right-wrapper .watch-social .watch-social_link:last-child {
  margin-right: 0;
}

header .right-wrapper .watch-header_decorative-button-mobile {
  display: none;
}

@media all and (max-width: 1366px) {
  header {
    width: 100vw;
    background: url(../images/bg.jpg) 50% 50% no-repeat;
    height: 23.438vw;
    background-size: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .text-page-flex-wrapper {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .container.container-back__content {
    width: 38.5vw;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
  header .h1.h1-watch {
    font-size: 2.4375vw;
    margin-bottom: 2.0079vw;
  }
  header .container.container-back__content.container-back_breadcrumbs {
    margin-top: 0;
    margin-left: 7.25vw;
  }
  header .text-page-content.text-page-content_fix {
    max-width: 100vw;
    margin: 0;
    margin-bottom: 3.683vw;
    font-size: 1.318vw;
  }
  header .watch-header_decorative-button-mobile {
    display: none;
  }
}

@media all and (max-width: 415px) {
  header {
    width: 100vw;
    background: url(../images/watch-bg-mobile.jpg) 50% 50% no-repeat;
    height: 108.434vw;
    background-size: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .text-page-flex-wrapper {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .container.container-back__content {
    width: 95vw;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3.614vw;
  }
  header .h1.h1-watch {
    font-size: 8.675vw;
    font-weight: 400;
    line-height: 10.120vw;
    letter-spacing: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .h1.h1-watch br {
    display: none;
  }
  header .container.container-back__content.container-back_breadcrumbs {
    margin-top: 0;
    margin-left: 3.15vw;
  }
  header .text-page-content.text-page-content_fix {
    display: none;
  }
  header .watch-header_decorative-button {
    display: none;
  }
  header .right-wrapper {
    width: 95vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .right-wrapper .city {
    font-size: 7.229vw;
    font-weight: 400;
    line-height: 8.434vw;
    letter-spacing: 0;
    text-align: center;
    color: #000000;
    text-align: center;
    margin-bottom: 3.614vw;
  }
  header .right-wrapper .watch-time {
    font-size: 6.024vw;
    font-weight: 400;
    line-height: 6.988vw;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 3.614vw;
  }
  header .right-wrapper .phone-number_watch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3.614vw;
  }
  header .right-wrapper .phone-number_watch img {
    width: 11.325vw;
    height: 11.325vw;
  }
  header .right-wrapper .phone-number_watch a {
    font-size: 6.024vw;
    font-weight: 700;
    line-height: 6.988vw;
    letter-spacing: 0;
    text-align: center;
    color: #E4097F;
  }
  header .right-wrapper .watch-social {
    display: none;
  }
  header .right-wrapper .watch-social .watch-social_link {
    margin-right: 0.796vw;
  }
  header .right-wrapper .watch-social .watch-social_link img {
    width: 3.021vw;
    height: 3.021vw;
  }
  header .right-wrapper .watch-social .watch-social_link:last-child {
    margin-right: 0;
  }
  header .right-wrapper .watch-header_decorative-button-mobile {
    font-size: 6.747vw;
    font-weight: 700;
    line-height: 7.952vw;
    letter-spacing: 0;
    color: #FFFFFF;
    background-color: #E4097F;
    border: 0.052vw solid #E4097F;
    padding: 2.892vw 9.639vw;
    border-radius: 7.229vw;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    display: block;
  }
  header .right-wrapper .watch-header_decorative-button-mobile:hover {
    background-color: #FFFFFF;
    color: #E4097F;
  }
}

.watch-advantages {
  margin-top: 10.417vw;
  margin-bottom: 5.208vw;
}

.container.container-back__content.container-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75vw;
  margin: 0 auto;
}

.watch-advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 0 0.052vw #f2f2f2;
          box-shadow: 0 0 0 0.052vw #f2f2f2;
}

.watch-advantages-image {
  height: 17.93vw;
}

.watch-advantages-image img {
  width: 17.188vw;
  height: 17.930vw;
}

.watch-advantages-image:hover {
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.watch-advatages-text {
  width: 17.188vw;
  text-align: center;
  border-top: 0;
  padding-top: 1.042vw;
  padding-bottom: 1.146vw;
}

@media all and (max-width: 1366px) {
  .watch-advantages {
    margin-top: 13.5421vw;
    margin-bottom: 6.7704vw;
  }
  .container.container-back__content.container-advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 86vw;
    margin: 0 auto;
  }
  .watch-advantages-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 0px 0px 0.0676vw #f2f2f2;
            box-shadow: 0px 0px 0px 0.0676vw #f2f2f2;
  }
  .watch-advantages-image {
    height: 21.93vw;
  }
  .watch-advantages-image img {
    width: 21.188vw;
    height: 21.93vw;
  }
  .watch-advantages-image:hover {
    opacity: 0.8;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }
  .watch-advatages-text {
    width: 21.188vw;
    text-align: center;
    padding-top: 1.042vw;
    padding-bottom: 1.146vw;
  }
}

@media all and (max-width: 415px) {
  .watch-advantages {
    margin-top: 41.668vw;
    margin-bottom: 20.832vw;
  }
  .container.container-back__content.container-advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 95vw;
    margin: 0 auto;
  }
  .watch-advantages-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 0px 0px 0.208vw #f2f2f2;
            box-shadow: 0px 0px 0px 0.208vw #f2f2f2;
  }
  .watch-advantages-item:not(:last-child) {
    margin-bottom: 5vw;
  }
  .watch-advantages-image {
    height: 70vw;
  }
  .watch-advantages-image img {
    width: 95vw;
    height: 70vw;
  }
  .watch-advantages-image:hover {
    opacity: 0.8;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }
  .watch-advatages-text {
    width: 95vw;
    text-align: center;
    padding-top: 4.168vw;
    padding-bottom: 4.584vw;
  }
}

.container.container-back__content.container-text {
  width: 75vw;
  margin: 0 auto;
}

@media all and (max-width: 1366px) {
  .container.container-back__content.container-text {
    width: 86vw;
    margin: 0 auto;
  }
}

@media all and (max-width: 415px) {
  .container.container-back__content.container-text {
    width: 95vw;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */