header {
    width: 100vw;
    background: url(../images/bg.jpg) 50% 50% no-repeat;
    height: 23.438vw;
    background-size: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text-page-flex-wrapper {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .container.container-back__content {
        width: 37vw;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }

    .h1.h1-watch {
        font-size: 1.875vw;
        font-weight: 400;
        line-height: 2.188vw;
        letter-spacing: 0;
        color: #000000;
        text-align: left;
        margin-bottom: 2.083vw;
    }

    .container.container-back__content.container-back_breadcrumbs {
        margin-top: 5vw;
        margin-left: 12.5vw;
    }

    .text-page-content.text-page-content_fix {
        font-size: 1.250vw;
        font-weight: 400;
        line-height: 1.458vw;
        letter-spacing: 0;
        color: #000000;
        max-width: 100vw;
        margin-bottom: 3.683vw;
    }

    .watch-header_decorative-button {
        font-size: 1.563vw;
        font-weight: 700;
        line-height: 1.823vw;
        letter-spacing: 0;
        color: #FFFFFF;
        background-color: #E4097F;
        border: 0.052vw solid #E4097F;
        padding: 0.625vw 2.240vw;
        border-radius: 1.563vw;
        transition-duration: 1s;
    }

    .watch-header_decorative-button:hover {
        background-color: #FFFFFF;
        color: #E4097F;
    }

    .right-wrapper {
        width: 37.5vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .city {
            font-size: 1.563vw;
            font-weight: 400;
            line-height: 1.823vw;
            letter-spacing: 0;
            color: #000000;
            text-align: right;
            margin-bottom: 1.510vw;
        }

        .watch-time {
            font-size: 1.302vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.510vw;
            letter-spacing: 0;
            text-align: right;
            margin-bottom: 1.094vw;
        }

        .phone-number_watch {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.938vw;

            img {
                width: 2.448vw;
                height: 2.448vw;
            }

            a {
                font-size: 1.302vw;
                font-style: normal;
                font-weight: 700;
                line-height: 1.510vw;
                letter-spacing: 0;
                text-align: right;
                color: #E4097F;
            }
        }

        .watch-social {
            .watch-social_link {
                margin-right: 0.796vw;

                img {
                    width: 3.021vw;
                    height: 3.021vw;
                }
            }

            .watch-social_link:last-child {
                margin-right: 0;
            }
        }

        .watch-header_decorative-button-mobile {
            display: none;
        }
    }

}


@media all and (max-width: 1366px) {
    $coefficient: 1.3;

    header {
        width: 100vw;
        background: url(../images/bg.jpg) 50% 50% no-repeat;
        height: 23.438vw;
        background-size: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .text-page-flex-wrapper {
            width: 100vw;
            display: flex;
            justify-content: center;
        }

        .container.container-back__content {
            width: 38.5vw;
            margin-right: 0;
            margin-left: 0;
            padding: 0;
        }

        .h1.h1-watch {
            font-size: 1.875vw * $coefficient;
            margin-bottom: 2.0079vw;
        }

        .container.container-back__content.container-back_breadcrumbs {
            margin-top: 0;
            margin-left: 7.25vw;
        }

        .text-page-content.text-page-content_fix {
            max-width: 100vw;
            margin: 0;
            margin-bottom: 3.683vw;
            font-size: 1.318vw;
        }

        .watch-header_decorative-button-mobile {
            display: none;
        }
    }

}

@media all and (max-width: 415px) {
    $coefficient: 4;

    header {
        width: 100vw;
        background: url(../images/watch-bg-mobile.jpg) 50% 50% no-repeat;
        height: 108.434vw;
        background-size: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .text-page-flex-wrapper {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        .container.container-back__content {
            width: 95vw;
            margin: 0 auto;
            padding: 0;
            display: flex;
            flex-direction: column;
            margin-bottom: 3.614vw;
        }
    
        .h1.h1-watch {
            font-size: 8.675vw;
            font-weight: 400;
            line-height: 10.120vw;
            letter-spacing: 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            br {
                display: none;
            }
        }
    
        .container.container-back__content.container-back_breadcrumbs {
            margin-top: 0;
            margin-left: 3.15vw;
        }
    
        .text-page-content.text-page-content_fix {
            display: none;
        }
    
        .watch-header_decorative-button {
            display: none;
        }
    
        .right-wrapper {
            width: 95vw;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .city {
                font-size: 7.229vw;
                font-weight: 400;
                line-height: 8.434vw;
                letter-spacing: 0;
                text-align: center;
                color: #000000;
                text-align: center;
                margin-bottom: 3.614vw;
            }
    
            .watch-time {
                font-size: 6.024vw;
                font-weight: 400;
                line-height: 6.988vw;
                letter-spacing: 0;
                text-align: center;
                margin-bottom: 3.614vw;
            }
    
            .phone-number_watch {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 3.614vw;
    
                img {
                    width: 11.325vw;
                    height: 11.325vw;
                }
    
                a {
                    font-size: 6.024vw;
                    font-weight: 700;
                    line-height: 6.988vw;
                    letter-spacing: 0;
                    text-align: center;
                    color: #E4097F;
                }
            }
    
            .watch-social {
                display: none;
    
                .watch-social_link {
                    margin-right: 0.796vw;
    
                    img {
                        width: 3.021vw;
                        height: 3.021vw;
                    }
                }
    
                .watch-social_link:last-child {
                    margin-right: 0;
                }
            }
    
            .watch-header_decorative-button-mobile {
                font-size: 6.747vw;
                font-weight: 700;
                line-height: 7.952vw;
                letter-spacing: 0;
                color: #FFFFFF;
                background-color: #E4097F;
                border: 0.052vw solid #E4097F;
                padding: 2.892vw 9.639vw;
                border-radius: 7.229vw;
                transition-duration: 1s;
                display: block;
            }
    
            .watch-header_decorative-button-mobile:hover {
                background-color: #FFFFFF;
                color: #E4097F;
            }
        }
    }
}

.watch-advantages {
    margin-top: 10.417vw;
    margin-bottom: 5.208vw;
}

.container.container-back__content.container-advantages {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin: 0 auto;
}

.watch-advantages-item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 0.052vw #f2f2f2;
}

.watch-advantages-image {
    height: 17.93vw;

    img {
        width: 17.188vw;
        height: 17.930vw;
    }
}

.watch-advantages-image:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

.watch-advatages-text {
    width: 17.188vw;
    text-align: center;
    border-top: 0;
    padding-top: 1.042vw;
    padding-bottom: 1.146vw;
}


@media all and (max-width: 1366px) {
    $coefficient: 1.3;

    .watch-advantages {
        margin-top: 10.417vw * $coefficient;
        margin-bottom: 5.208vw * $coefficient;
    }

    .container.container-back__content.container-advantages {
        display: flex;
        justify-content: space-between;
        width: 86vw;
        margin: 0 auto;
    }

    .watch-advantages-item {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 0px 0.052vw * $coefficient #f2f2f2;
    }

    .watch-advantages-image {
        height: 21.93vw;

        img {
            width: 21.188vw;
            height: 21.93vw;
        }
    }

    .watch-advantages-image:hover {
        opacity: 0.8;
        transition: opacity 0.2s ease-in-out;
    }

    .watch-advatages-text {
        width: 21.188vw;
        text-align: center;
        padding-top: 1.042vw;
        padding-bottom: 1.146vw;
    }

}

@media all and (max-width: 415px) {
    $coefficient: 4;

    .watch-advantages {
        margin-top: 10.417vw * $coefficient;
        margin-bottom: 5.208vw * $coefficient;
    }

    .container.container-back__content.container-advantages {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 95vw;
        margin: 0 auto;
    }

    .watch-advantages-item {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 0px 0.052vw * $coefficient #f2f2f2;
    }

    .watch-advantages-item:not(:last-child) {
        margin-bottom: 5vw;
    }

    .watch-advantages-image {
        height: 70vw;

        img {
            width: 95vw;
            height: 70vw;
        }
    }

    .watch-advantages-image:hover {
        opacity: 0.8;
        transition: opacity 0.2s ease-in-out;
    }

    .watch-advatages-text {
        width: 95vw;
        text-align: center;
        padding-top: 1.042vw * $coefficient;
        padding-bottom: 1.146vw * $coefficient;
    }

}

.container.container-back__content.container-text {
    width: 75vw;
    margin: 0 auto;
}

@media all and (max-width: 1366px) {
    $coefficient: 1.3;

    .container.container-back__content.container-text {
        width: 86vw;
        margin: 0 auto;
    }

}

@media all and (max-width: 415px) {
    $coefficient: 4;

    .container.container-back__content.container-text {
        width: 95vw;
        margin: 0 auto;
    }

}