@import "base-scss.scss";

@media all and (max-width: 8000px) {

    .cost {
        .cost_flex-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cost-title {
            font-size: 1.771vw;
            font-weight: 700;
            line-height: 2.083vw;
            letter-spacing: 0;
            text-align: left;
            color: #000000;

            span {
                color: $pink;
            }
        }

        .cost-steps-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cost-step {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 0.156vw solid #999999;
            border-radius: 50%;

            .cost-step_content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1.615vw 2.083vw;
            }

            img {
                width: 4.844vw;
                height: 4.688vw;
            }

            .cost-step_text {
                font-size: 0.990vw;
                font-weight: 400;
                line-height: 1.2vw;
                letter-spacing: 0;
                text-align: center;
                margin-top: 1.250vw;


                a {
                    color: $pink;
                }
            }
        }

        .border {
            width: 4.479vw;
            height: 0.156vw;
            background-color: #999999;
        }

        .decorative-button-container {
            display: flex;
            flex-direction: column;
        }

        .more-info {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-size: 1.354vw;
            font-weight: 400;
            line-height: 1.615vw;
            letter-spacing: 0;
            text-align: center;
            color: #999999;

            img {
                width: 1.510vw;
                height: 1.458vw;
            }
        }

        .decorative-button {
            font-size: 1.354vw;
            font-weight: 700;
            line-height: 1.823vw;
            letter-spacing: 0;
            color: #FFFFFF;
            background-color: #E4097F;
            border: 0.052vw solid #E4097F;
            padding: 0.625vw 2.240vw;
            border-radius: 1.563vw;
            transition-duration: 1s;
            margin-top: 0.625vw;
            cursor: pointer;
        }

        .decorative-button:hover {
            background-color: #FFFFFF;
            color: #E4097F;
        }
    }
}

@media all and (max-width: 415px) {

    .cost {

        .container {
            width: 82.207vw;
        }

        .cost_flex-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .cost-title {
            font-size: 4.337vw;
            font-weight: 700;
            line-height: 5.060vw;
            letter-spacing: 0;
            margin-bottom: 7.229vw;

            br {
                display: none;
            }

            span {}
        }

        .cost-steps-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        .cost-step {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 0.482vw solid #999999;
            border-radius: 50%;

            .cost-step_content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 6.024vw 6.506vw;
            }

            img {
                width: 13.735vw;
                height: 13.253vw;
            }

            .cost-step_text {
                font-size: 2.651vw;
                font-weight: 400;
                line-height: 3.133vw;
                letter-spacing: 0;
                margin-top: 2.892vw;
                width: 20.723vw;

                a {}
            }
        }

        .cost-step_bottom-mobile {
            margin-top: 5.588vw;
        }

        .border {
            width: 12.771vw;
            height: 0.482vw;
        }

        .border-rotate_mobile {
            width: 28.207vw;
            position: absolute;
            top: 50vw;
            left: 36vw;
            transform: rotate(-34deg);
        }

        .decorative-button-container {
            display: flex;
            flex-direction: column;
            margin-top: 8.841vw;
        }

        .more-info {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-size: 4.337vw;
            font-weight: 400;
            line-height: 5.301vw;
            letter-spacing: 0;
            text-align: center;

            img {
                width: 4.819vw;
                height: 4.819vw;
            }
        }

        .decorative-button {
            font-size: 4.337vw;
            font-weight: 700;
            line-height: 1.823vw;
            letter-spacing: 0;
            border: 0.052vw solid #E4097F;
            padding: 2.687vw 7.952vw;
            border-radius: 5.263vw;
            transition-duration: 1s;
            margin-top: 3.373vw;
        }

        .decorative-button:hover {}
    }
}