@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("/fonts/roboto.woff2") format("woff2"), url("/fonts/roboto.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto";
}

.container {
  width: 95.795vw;
  margin: 0 auto;
  padding: 0;
}

@media all and (max-width: 415px) {
  .container {
    width: 91.807vw;
  }
}

footer {
  background-color: #E4097F;
  position: relative;
}

footer .footer_main {
  padding-bottom: 3.698vw;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 89.375vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.135vw;
  padding-top: 2.865vw;
}

footer button {
  outline: 0;
  border: 0;
  background: transparent;
}

.footer-first_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-first_wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-nav__ul-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-nav__li span {
  font-weight: 700;
  font-size: 1.250vw;
  line-height: 1.458vw;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
}

.footer-nav__li {
  padding-bottom: 0.938vw;
}

.footer-nav__a:hover {
  text-shadow: 0.156vw 0.104vw 0.104vw gray;
}

.footer-nav__li:first-child {
  padding-bottom: 1.25vw;
}

.footer-nav__a {
  font-size: 1.250vw;
  font-weight: 400;
  line-height: 1.458vw;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
}

.search-button {
  width: 48.125vw;
  font-size: 1.354vw;
  padding: 0.417vw 0;
  border-radius: 1.302vw;
  border-color: #E4097F;
  color: #B2B3B3;
  padding-left: 0.938vw;
}

.search-button:focus-visible {
  outline: #E4097F;
}

.search-button_footer {
  width: 25.313vw;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content {
  font-size: 1.250vw;
  font-weight: 400;
  line-height: 1.458vw;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
}

.footer-content span {
  font-size: 2.500vw;
  font-weight: 700;
  line-height: 2.917vw;
  letter-spacing: 0;
}

.footer-content:first-child {
  width: 25.521vw;
  text-align: right;
  margin-right: 5.15vw;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social a img {
  width: 2.453vw;
  height: 2.453vw;
  vertical-align: middle;
  margin-right: 0.673vw;
}

.footer-social .first-icon {
  position: absolute;
  z-index: 100;
  opacity: 1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.footer-social .footer-link_hover:hover .first-icon {
  opacity: 0;
}

.footer-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-payment img {
  width: 5.313vw;
  height: 2.604vw;
  vertical-align: middle;
}

.footer_copy {
  height: 5.990vw;
  background-color: #b80766;
}

.footer_copy .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.footer_copy .footer_deviders {
  height: 3.490vw;
  width: 0.156vw;
}

.footer-logo {
  position: absolute;
  bottom: 1.146vw;
  left: 4.688vw;
}

.footer-logo img {
  width: 8.073vw;
  height: 8.073vw;
}

.copyright {
  font-size: 1.042vw;
  font-weight: 400;
  line-height: 1.198vw;
  letter-spacing: 0;
  text-align: left;
  margin-left: 11vw;
}

.copyright a {
  color: #FF85C6;
}

.copyright a:hover {
  text-shadow: 0.156vw 0.104vw 0.104vw gray;
}

.privacy {
  font-size: 1.042vw;
  font-weight: 400;
  line-height: 1.198vw;
  letter-spacing: 0;
  text-align: left;
}

.privacy a {
  color: #FF85C6;
}

.privacy a:hover {
  text-shadow: 0.156vw 0.104vw 0.104vw gray;
}

.agreement {
  font-size: 1.042vw;
  font-weight: 400;
  line-height: 1.198vw;
  letter-spacing: 0;
  text-align: left;
}

.agreement a {
  color: #FF85C6;
}

.agreement a:hover {
  text-shadow: 0.156vw 0.104vw 0.104vw gray;
}

@media all and (max-width: 415px) {
  footer {
    background-color: #E4097F;
    position: relative;
  }
  footer .footer_main {
    padding-bottom: 3.698vw;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 89.375vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2.135vw;
    padding-top: 2.865vw;
  }
  footer button {
    outline: 0;
    border: 0;
    background: transparent;
  }
  .footer-first_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-first_wrapper div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-nav__ul-mobile {
    display: none;
  }
  .footer-nav__ul-flex-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer-nav__li {
    text-align: center;
  }
  .footer-nav__li span {
    font-weight: 700;
    font-size: 5.783vw;
    line-height: 3.954vw;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
  }
  .footer-nav__li {
    padding-bottom: 1.928vw;
  }
  .footer-nav__a:hover {
    text-shadow: 0.156vw 0.104vw 0.104vw gray;
  }
  .footer-nav__li:first-child {
    padding-bottom: 1.25vw;
  }
  .footer-nav__a {
    font-size: 3.373vw;
    font-weight: 400;
    line-height: 3.388vw;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
  }
  .search-button {
    width: 48.125vw;
    font-size: 1.354vw;
    padding: 0.417vw 0;
    border-radius: 1.302vw;
    border-color: #E4097F;
    color: #B2B3B3;
    padding-left: 0.938vw;
  }
  .search-button:focus-visible {
    outline: #E4097F;
  }
  .search-button_footer {
    width: 77.108vw;
    padding: 2.892vw 0;
    padding-left: 8.193vw;
    font-size: 3.373vw;
    border-radius: 10vw;
  }
  .footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-row br {
    display: none;
  }
  .footer-content {
    font-size: 3.373vw;
    font-weight: 400;
    line-height: 3.954vw;
    letter-spacing: 0;
    text-align: center;
    color: #FFFFFF;
  }
  .footer-content span {
    font-size: 5.783vw;
    font-weight: 700;
    line-height: 6.778vw;
    letter-spacing: 0;
  }
  .footer-content:first-child {
    width: auto;
    text-align: center;
    margin-right: 5.15vw;
    margin-bottom: 4.819vw;
  }
  .footer-content:nth-child(even) {
    margin-bottom: 2.892vw;
  }
  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 4.819vw;
  }
  .footer-social a img {
    width: 7.884vw;
    height: 7.884vw;
    vertical-align: middle;
    margin-right: 2.169vw;
  }
  .footer-social .first-icon {
    position: absolute;
    z-index: 100;
    opacity: 1;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .footer-social .footer-link_hover:hover .first-icon {
    opacity: 0;
  }
  .footer-payment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-payment img {
    width: 17.108vw;
    height: 13.976vw;
    vertical-align: middle;
  }
  .footer_copy {
    height: 17.108vw;
    background-color: #b80766;
  }
  .footer_copy .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .footer_copy .footer_deviders {
    height: 3.490vw;
    width: 0.156vw;
    display: none;
  }
  .footer-logo {
    position: absolute;
    bottom: 1.146vw;
    left: 4.688vw;
  }
  .footer-logo img {
    width: 19.759vw;
    height: 19.759vw;
  }
  .copyright {
    font-size: 2.169vw;
    font-weight: 400;
    line-height: 2.542vw;
    letter-spacing: 0;
    text-align: left;
    margin-left: 16.8vw;
  }
  .copyright a {
    color: #FF85C6;
  }
  .copyright a:hover {
    text-shadow: 0.156vw 0.104vw 0.104vw gray;
  }
  .privacy {
    font-size: 2.169vw;
    font-weight: 400;
    line-height: 2.542vw;
    letter-spacing: 0;
    text-align: left;
  }
  .privacy a {
    color: #FF85C6;
  }
  .privacy a:hover {
    text-shadow: 0.156vw 0.104vw 0.104vw gray;
  }
  .agreement {
    font-size: 2.169vw;
    font-weight: 400;
    line-height: 2.542vw;
    letter-spacing: 0;
    text-align: left;
  }
  .agreement a {
    color: #FF85C6;
  }
  .agreement a:hover {
    text-shadow: 0.156vw 0.104vw 0.104vw gray;
  }
}
/*# sourceMappingURL=style.css.map */