@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("/fonts/roboto.woff2") format("woff2"), url("/fonts/roboto.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto";
}

.container {
  width: 95.795vw;
  margin: 0 auto;
  padding: 0;
}

@media all and (max-width: 415px) {
  .container {
    width: 91.807vw;
  }
}

.container.contact-header_container {
  margin: 0;
  width: auto;
  padding: 0 2.083vw;
  background-color: #4D4D4D;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-header_container .header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 3.125vw;
}

.header-item {
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.458vw;
  letter-spacing: 0em;
  text-align: left;
  color: #B3B3B3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-item img {
  width: auto;
  height: 1.833vw;
  padding: 0 0;
  vertical-align: middle;
}

.header-item:last-child img {
  padding-right: 0.781vw;
}

.deviders-header {
  height: 2.083vw;
}

.header-row_menu {
  padding: 0.938vw 0;
}

.logo {
  width: 7.604vw;
  height: 7.604vw;
}

.header-row ul {
  width: 38.333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav {
  font-size: 1.250vw;
  font-weight: 400;
  line-height: 1.458vw;
  letter-spacing: 0;
  text-align: left;
  color: #4D4D4D;
  -webkit-transition: .25s;
  transition: .25s;
}

.main-nav:hover {
  color: #E4097F;
}

.map a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.250vw;
  font-weight: 400;
  line-height: 1.458vw;
  letter-spacing: 0;
  text-align: left;
  color: #4D4D4D;
}

.map a img {
  width: 3.058vw;
  height: 3.058vw;
  margin-right: 1.421vw;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10.922vw;
}

.header-contacts a img {
  width: 3.058vw;
  height: 3.058vw;
}

.header-row button {
  outline: 0;
  border: 0;
  background: transparent;
}

.decorative-button {
  height: 3.058vw;
}

.header-decorative_button {
  font-size: 1.563vw;
  font-weight: 700;
  line-height: 1.823vw;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
  padding: 0.625vw 3.073vw;
  background-color: #E4097F;
  border-radius: 1.563vw;
  border: 0.052vw solid #E4097F;
  -webkit-transition: .25s;
  transition: .25s;
}

.header-decorative_button:hover {
  background-color: #FFFFFF;
  color: #E4097F;
}

.header-row_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E4097F;
  height: 4.688vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-row_left-wrapper {
  padding: 1.146vw 1.667vw 1.146vw 2.083vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 69vw;
}

.header-row_left-wrapper a img {
  width: 2.500vw;
  height: 2.344vw;
}

.header-catalog__wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-right: 0;
}

.header-catalog__button i {
  margin-top: 0;
  font-size: 1.406vw;
}

.header-catalog__button {
  font-size: 1.563vw;
  line-height: 1.823vw;
  color: #FFFFFF;
}

.search-button {
  width: 48.125vw;
  font-size: 1.354vw;
  padding: 0.417vw 0;
  border-radius: 1.302vw;
  border-color: #E4097F;
  color: #B2B3B3;
  padding-left: 0.938vw;
}

.search-button:focus-visible {
  outline: #E4097F;
}

.header-row_right a {
  padding: 1.433vw 3.958vw;
  background-color: #B0842C;
  color: #FFFFFF;
  font-size: 1.563vw;
  font-weight: 700;
  line-height: 1.823vw;
  letter-spacing: 0;
  -webkit-transition: .25s;
  transition: .25s;
  border: 0.052vw solid transparent;
}

.header-row_right a:hover {
  background-color: #FFFFFF;
  color: #B0842C;
  border: 0.052vw solid #B0842C;
}

@media all and (max-width: 415px) {
  .container.contact-header_container {
    margin: 0;
    padding: 0 0;
    background-color: #4D4D4D;
  }
  .header-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-header_container .header-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-item {
    font-size: 2.892vw;
    font-weight: 400;
    line-height: 5.832vw;
    letter-spacing: 0;
    text-align: left;
    color: #B3B3B3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-item img {
    width: auto;
    height: 4.892vw;
    padding: 0 1.687vw;
    vertical-align: middle;
  }
  .header-item_message {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-item_phone img {
    padding-left: 2.2vw;
  }
  .header-item_mobile-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-item_left {
    width: 34.799vw;
  }
  .header-item_right {
    width: 58.031vw;
  }
  .deviders-header {
    height: 2.083vw;
    display: none;
  }
  .container.contact-header_container {
    margin: 0;
    padding: 0 0;
    background-color: #4D4D4D;
  }
  .header-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-header_container .header-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-item {
    font-size: 2.892vw;
    font-weight: 400;
    line-height: 5.832vw;
    letter-spacing: 0;
    text-align: left;
    color: #B3B3B3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-item img {
    width: auto;
    height: 4.892vw;
    padding: 0 1.687vw;
    vertical-align: middle;
  }
  .header-item_message {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-item_phone img {
    padding-left: 2.2vw;
  }
  .header-item_mobile-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-item_left {
    width: 34.799vw;
  }
  .header-item_right {
    width: 58.031vw;
  }
  .deviders-header {
    height: 2.083vw;
    display: none;
  }
  .header-row_menu {
    padding: 1.446vw 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    width: 15.422vw;
    height: 15.422vw;
  }
  .header-row ul {
    width: 38.333vw;
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav {
    font-size: 1.250vw;
    font-weight: 400;
    line-height: 1.458vw;
    letter-spacing: 0;
    text-align: left;
    color: #4D4D4D;
    -webkit-transition: .25s;
    transition: .25s;
  }
  .main-nav:hover {
    color: #E4097F;
  }
  .map a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.892vw;
    font-weight: 400;
    line-height: 3.388vw;
    letter-spacing: 0;
    text-align: left;
    color: #4D4D4D;
  }
  .map a img {
    width: 6.024vw;
    height: 6.024vw;
    margin-right: 2.169vw;
  }
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 20.395vw;
  }
  .header-contacts a img {
    width: 6.024vw;
    height: 6.024vw;
  }
  .header-row button {
    outline: 0;
    border: 0;
    background: transparent;
  }
  .decorative-button {
    height: auto;
  }
  .header-decorative_button {
    font-size: 2.410vw;
    font-weight: 700;
    line-height: 2.824vw;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
    padding: 0.723vw 2.169vw;
    background-color: #E4097F;
    border-radius: 3.363vw;
    border: 0.052vw solid #E4097F;
    -webkit-transition: .25s;
    transition: .25s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-decorative_button:hover {
    background-color: #FFFFFF;
    color: #E4097F;
  }
  .header-row_search {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-row_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #E4097F;
    height: 21.928vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-row_left-wrapper {
    padding: 4.584vw 6.668vw 4.584vw 8.332vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100vw;
  }
  .header-row_left-wrapper a img {
    width: 6.265vw;
    height: 6.265vw;
  }
  .header-catalog__wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    margin-right: 0;
  }
  .header-catalog__button i {
    margin-top: 0;
    font-size: 6.506vw;
  }
  .header-catalog__button span {
    display: none;
  }
  .header-catalog__button {
    font-size: 1.563vw;
    line-height: 1.823vw;
    color: #FFFFFF;
  }
  .search-button {
    width: 56.241vw;
    font-size: 2.892vw;
    padding: 2.892vw 0;
    border-radius: 5.402vw;
    border-color: #E4097F;
    color: #B2B3B3;
    padding-left: 3.855vw;
  }
  .search-button:focus-visible {
    outline: #E4097F;
  }
  .header-row_right .header-row_right-decorative_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #B0842C;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1.823vw;
    letter-spacing: 0;
    -webkit-transition: .25s;
    transition: .25s;
    border: 0.052vw solid transparent;
    width: 100vw;
    height: 12.530vw;
  }
  .header-row_right .header-row_right-decorative_button a {
    color: #FFFFFF;
    font-size: 5.783vw;
    padding: 0;
  }
  .header-row_right .header-row_right-decorative_button a:hover {
    background-color: #FFFFFF;
    color: #B0842C;
    border: 0.052vw solid #B0842C;
  }
}
/*# sourceMappingURL=style.css.map */