@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("/fonts/roboto.woff2") format("woff2"), url("/fonts/roboto.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto";
}

.container {
  width: 95.795vw;
  margin: 0 auto;
  padding: 0;
}

.container.contact-header_container {
  margin: 0;
  width: auto;
  padding: 0 2.083vw;
  background-color: #4D4D4D;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-header_container .header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 3.125vw;
}

.header-item {
  font-size: 1.250vw;
  font-weight: 400;
  line-height: 1.458vw;
  letter-spacing: 0em;
  text-align: left;
  color: #B3B3B3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-item img {
  width: auto;
  height: 1.833vw;
  padding: 0 1.042vw;
  vertical-align: middle;
}

.deviders-header {
  height: 2.083vw;
}

@media all and (max-width: 415px) {
  .container.contact-header_container {
    margin: 0;
    padding: 0 8.332vw;
    background-color: #4D4D4D;
  }
  .header-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-header_container .header-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-item {
    font-size: 2.092vw;
    font-weight: 400;
    line-height: 5.832vw;
    letter-spacing: 0;
    text-align: left;
    color: #B3B3B3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-item img {
    width: auto;
    height: 4.892vw;
    padding: 0 1.687vw;
    vertical-align: middle;
  }
  .header-item_message {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-item_phone img {
    padding-left: 2.8vw;
  }
  .header-item_mobile-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header-item_left {
    width: 28.1vw;
  }
  .header-item_right {
    width: 50.3vw;
  }
  .deviders-header {
    height: 2.083vw;
    display: none;
  }
}

.logo {
  width: 7.604vw;
  height: 7.604vw;
}

.header-row ul {
  width: 38.333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav {
  font-size: 1.250vw;
  font-weight: 400;
  line-height: 1.458vw;
  letter-spacing: 0;
  text-align: left;
  color: #4D4D4D;
  -webkit-transition: .25s;
  transition: .25s;
}

.main-nav:hover {
  color: #E4097F;
}

.map a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.250vw;
  font-weight: 400;
  line-height: 1.458vw;
  letter-spacing: 0;
  text-align: left;
  color: #4D4D4D;
}

.map a img {
  width: 3.058vw;
  height: 3.058vw;
  margin-right: 1.421vw;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10.922vw;
}

.header-contacts a img {
  width: 3.058vw;
  height: 3.058vw;
}

.header-row button {
  outline: 0;
  border: 0;
  background: transparent;
}

.header-decorative_button {
  font-size: 1.563vw;
  font-weight: 700;
  line-height: 1.823vw;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
  padding: 0.625vw 3.073vw;
  background-color: #E4097F;
  border-radius: 1.563vw;
  border: 0.052vw solid #E4097F;
  -webkit-transition: .25s;
  transition: .25s;
}

.header-decorative_button:hover {
  background-color: #FFFFFF;
  color: #E4097F;
}

.header-row_menu {
  padding: 0.938vw;
}

@media all and (max-width: 415px) {
  .logo {
    width: 15.422vw;
    height: 15.422vw;
  }
  .header-row ul {
    width: 38.333vw;
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav {
    font-size: 1.250vw;
    font-weight: 400;
    line-height: 1.458vw;
    letter-spacing: 0;
    text-align: left;
    color: #4D4D4D;
    -webkit-transition: .25s;
    transition: .25s;
  }
  .main-nav:hover {
    color: #E4097F;
  }
  .map a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.892vw;
    font-weight: 400;
    line-height: 3.388vw;
    letter-spacing: 0;
    text-align: left;
    color: #4D4D4D;
  }
  .map a img {
    width: 6.024vw;
    height: 6.024vw;
    margin-right: 2.169vw;
  }
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 20.395vw;
  }
  .header-contacts a img {
    width: 6.024vw;
    height: 6.024vw;
  }
  .header-row button {
    outline: 0;
    border: 0;
    background: transparent;
  }
  .header-decorative_button {
    font-size: 2.410vw;
    font-weight: 700;
    line-height: 2.824vw;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
    padding: 0.723vw 2.169vw;
    background-color: #E4097F;
    border-radius: 3.363vw;
    border: 0.052vw solid #E4097F;
    -webkit-transition: .25s;
    transition: .25s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-decorative_button:hover {
    background-color: #FFFFFF;
    color: #E4097F;
  }
  .header-row_menu {
    padding: 0.938vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */